@using Shopia.Application.DTO_s.CartDTO_s
@model GetByIdCartDTO

<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row">
        <!-- Checkout Form -->
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4 text-left">Sipariş Bilgileri</h4> <!-- Text-left eklendi -->
                <div class="row">
                    @if (Model.Customer == null)
                    {
                        <div class="col-md-6 form-group">
                            <label>Ad</label>
                            <input type="text" class="form-control" name="customerFirstname" id="customerFirstname" placeholder="Adınızı girin" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Soyad</label>
                            <input type="text" class="form-control" name="customerLastname" id="customerLastname" placeholder="Soyadınızı girin" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input type="email" class="form-control" name="customerEmail" id="customerEmail" placeholder="E-Posta" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Telefon</label>
                            <input type="text" class="form-control" name="customerPhoneNumber" id="customerPhoneNumber" placeholder="5XX-XXX-XXXX" required>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 form-group">
                            <label>Ad</label>
                            <input class="form-control" type="text" placeholder="Ad" name="customerFirstname" id="customerFirstname" required value="@Model.Customer.Firstname">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Soyad</label>
                            <input class="form-control" type="text" placeholder="Soyad" name="customerLastname" id="customerLastname" required value="@Model.Customer.LastName">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="email" placeholder="example@email.com" name="customerEmail" id="customerEmail" required value="@Model.Customer.Email">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Telefon</label>
                            <input class="form-control" type="text" placeholder="5XX-XXX-XXXX" name="customerPhoneNumber" id="customerPhoneNumber" required value="@Model.Customer.PhoneNumber">
                        </div>
                    }

                    <div class="col-md-6 form-group">
                        <label>Şehir</label>
                        <select class="custom-select" id="city" name="shippingCityId">
                            <option selected value="0">Şehir Seçiniz</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>İlçe</label>
                        <select class="custom-select" id="town" name="shippingTownId">
                            <option value="">İlçe Seçiniz</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label>Adres Detay</label>
                    <input class="form-control" type="text" placeholder="Mahalle, Sokak, No:" name="shippingAddress" id="shippingAddress">
                </div>
            </div>
        </div>

        <!-- Order Total (Right Side) -->
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Toplam Sipariş</h4> <!-- Text-left eklendi -->
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Ürünler</h5>
                    @if (Model.CartItems != null)
                    {
                        @foreach (var item in Model.CartItems)
                        {
                            <div class="d-flex justify-content-between">
                                <p>@item.Product.ProductName x @item.Quantity</p>
                                <p>&#8378;@item.TotalPrice</p>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="d-flex justify-content-between">
                            <p>Ürünler Yok</p>
                        </div>
                    }

                    <hr class="mt-0">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">AraToplam</h6>
                        <h6 class="font-weight-medium">&#8378;@Model.TotalAmount</h6>
                    </div>

                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Toplam</h5>
                        <h5 class="font-weight-bold">&#8378;@Model.TotalAmount</h5>
                    </div>
                </div>
            </div>

            <div class="card-footer border-secondary bg-transparent">
                <button id="completeOrder" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Siparişi Tamamla</button>
            </div>
        </div>
    </div>
</div>
<!-- Checkout End -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Order/GetCity',
            method: 'GET',
            success: function (response) {
                var cityDropdown = $('#city');
                cityDropdown.empty().append('<option selected value="0">Şehir Seçiniz</option>');
                $.each(response.data, function (index, city) {
                    cityDropdown.append($('<option>').val(city.cityId).text(city.cityName));
                });
            },
            error: function () {
                toastr.error('Şehirler yüklenirken bir hata oluştu.');
            }
        });

        $('#city').change(function () {
            var cityId = $(this).val();
            var townDropdown = $('#town');
            townDropdown.empty().append('<option selected value="0">İlçe Seçiniz</option>');

            if (cityId != "0") {
                $.ajax({
                    url: '/Order/GetTownByCityId',
                    method: 'GET',
                    data: { cityId: cityId },
                    success: function (response) {
                        $.each(response.data, function (index, town) {
                            townDropdown.append($('<option>').val(town.townId).text(town.townName));
                        });
                    },
                    error: function () {
                        toastr.error('İlçeler yüklenirken bir hata oluştu.');
                    }
                });
            }
        });

        $('#completeOrder').click(function (e) {
            e.preventDefault(); // Sayfanın yenilenmesini engelle

            var orderData = {
                customerFirstname: $("#customerFirstname").val(),
                customerLastname: $("#customerLastname").val(),
                customerEmail: $("#customerEmail").val(),
                customerPhoneNumber: $("#customerPhoneNumber").val(),
                shippingCityId: $("#city").val(),
                shippingTownId: $("#town").val(),
                shippingAddress: $("#shippingAddress").val(),
                totalAmount: '@Model.TotalAmount'
            };


            var cartId = @Model.CartId;

            if (!orderData.customerFirstname || !orderData.customerLastname || !orderData.customerEmail || !orderData.customerPhoneNumber || !orderData.shippingCityId || orderData.shippingCityId == "0" || !orderData.shippingTownId || !orderData.shippingAddress) {
                toastr.error('Lütfen tüm alanları doldurunuz.');
                return;
            }

            $.ajax({
                type: 'POST',
                url: '/Order/CreateOrder',
                data: { dto: orderData, cartId: cartId },
                dataType: 'json',
                success: function (response) {
                    console.log(response);
                    alert('Sipariş oluşturuldu');
                    window.location.href = '@Url.Action("Index", "Home")';
                },
                error: function () {
                    alert('Sipariş oluşturulurken bir hata oluştu.');
                }
            });
        });
    });
</script>
